<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770260295458-busu7f37qkecjf09d409b7g2j42tk68v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770260295458-busu7f37qkecjf09d409b7g2j42tk68v</string>
	<key>API_KEY</key>
	<string>AIzaSyCIKq_ksVhJ2JBfuPOyURjZDXLKlSMLu44</string>
	<key>GCM_SENDER_ID</key>
	<string>770260295458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitterClient</string>
	<key>PROJECT_ID</key>
	<string>twitterclient-8edef</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclient-8edef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770260295458:ios:9412b0ce0cbd6856618f7b</string>
</dict>
</plist>